# vim: sts=2 ts=2 sw=2 et ai
logrotate:
  lookup:
    pkg: 'logrotate'
    service: 'crond'
  jobs:
    "/tmp/var/log/mysql/error":
      - "weekly"
      - "missingok"
      - "rotate 52"
      - "compress"
      - "delaycompress"
      - "notifempty"
      - "create 640 root adm"
      - "sharedscripts"
