# -*- coding: utf-8 -*-
# vim: ft=jinja

{% set os_family_map = salt['grains.filter_by']({
        'RedHat': {
            'service': 'crond',
        },
        'Arch': {
            'service': 'logrotate.timer',
        },
    },
    grain="os_family",
    merge=salt['pillar.get']('logrotate:lookup'))

{% do default_settings.logrotate.update(os_family_map) %}

{% set logrotate = salt['pillar.get'](
        'logrotate',
        default=default_settings.logrotate,
        merge=True
    )
%}
